@font-face {
  font-family: 'Tilda Sans';
  src: url('../fonts/TildaSans-Light.woff2') format('woff2'),
    url('../fonts/TildaSans-Light.woff') format('woff'),
    url('../fonts/TildaSans-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src: url('../fonts/TildaSans-Regular.woff2') format('woff2'),
    url('../fonts/TildaSans-Regular.woff') format('woff'),
    url('../fonts/TildaSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src: url('../fonts/TildaSans-Medium.woff2') format('woff2'),
    url('../fonts/TildaSans-Medium.woff') format('woff'),
    url('../fonts/TildaSans-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src: url('../fonts/TildaSans-Bold.woff2') format('woff2'),
    url('../fonts/TildaSans-Bold.woff') format('woff'),
    url('../fonts/TildaSans-Bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
